.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
 }

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  cursor: pointer;

}

#cadastroLogin{
	
	text-align: center;
	font-family: arial black;
	font-size: 24px;
}